defaults: &defaults
  adapter:  postgresql
  encoding: utf-8
  pool:     5
  database: <%= ENV.fetch "RAILS_ENV", "development" %>
  host:     <%= ENV.fetch "DB_HOST", "127.0.0.1" %>
  password: <%= ENV.fetch "DB_PASSWORD", "postgres" %>
  port:     <%= ENV.fetch "DB_PORT", "5432" %>
  username: <%= ENV.fetch "DB_USERNAME", "postgres" %>

development: &development
  <<: *defaults

production:
  <<: *defaults

test:
  <<: *defaults
